---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-small"></div>
        <article class="uk-article">
            
            <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom">
                {% include post-meta.html %}
            </div>

            <div class="uk-article-content">
                {{ content }}
                {% include share.html %}
            </div>

            <hr class="uk-margin-medium">

            {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
        </article>

    </div>
</div>
